{% extends "network/layout.html" %}
{% load static %}


{% block body %}

    {% for post in all_posts%}
    
    <div style ="border: solid black 2px;">
    <div><a class="nav-link" href="{% url 'profile' post.user %}">{{post.user}}</a></div>
    <div>{{post.body}}</div>
    <div>{{post.date}}</div>

    <div data-id="{{post.id}}" class="like" id="like-{{post.id}}"></div>
    
    <button class="like-button" data-id="{{post.id}}" type="button">Like</button>
    

    

    <br>
    </div>
    
    
    {% endfor %}

    <script src="{% static 'network/edit.js' %}"></script>

{% endblock %}