{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<br>
Followers: {{followed_count}}
Following: {{following_count}}

<strong>{{ifFollows}}</strong>
<form action="" method="post">
    {% csrf_token %}
    {%if ifFollows%}
    <input type="submit" name="submit" id="follow-button" value="Unfollow">
    {%else%}
    <input type="submit" name="submit" id="follow-button" value="Follow">
    {%endif%}
</form>

{% for post in posts%}
<div  style ="border: solid black 2px;">    
<div>{{post.user}}</div>
<div>{{post.body}}</div>
<div>{{post.date}}</div><br>


<div data-id="{{post.id}}" class="like" id="like-{{post.id}}"></div>    
<button class="like-button" data-id="{{post.id}}" id="button-{{post.id}}" type="button">Like</button>

{%if current_user == viewed_user%}
<form action="{% url 'edit' post.id %}" method='POST'>
    {%csrf_token%}
    <input type="submit" name="submit" value="Edit">
</form>
{%endif%}
    


</div>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


<script src="{% static 'network/edit.js' %}"></script>

{% endblock %}